body {
		font-family: "Roboto", sans-serif;
		color: white;
		background-color: #272727;
		margin: 0;
		padding: 0;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.box {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: grey;
  height: 300px;
  display: table;
  margin-bottom: 20px;
  text-align: center;
  background-color: black;
}

.box-content {
	display: table-cell;
	vertical-align: middle;
}

.box-content img {
	max-width: 80%
	;
}

.search-box {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: grey;
  margin-bottom: 20px;
  text-align: center;
  background-color: black;
  padding: 2px;
}

fieldset { 
  margin 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-style: none;
  text-align: center;
}

legend {
	margin-bottom: 10px;
}
button {
  font-family: 'Roboto', Sans-Serif;
  color: black;
  display: block;
  width: 100px;
  height: 20px;
  margin-top: 20px;
  padding: 0;
  border-radius: 5px;
  border-width: 0;
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
 }

.js-play-video {
  font-family: 'Roboto', Sans-Serif;
  display: table-cell;
  margin-top: 0px;
  padding: 0;
  border-width: 0;
  border-style: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

 }

button:hover {
  background-color: white;
  width: 110px;
}
.js-play-video:focus,
.js-play-video:hover {
  background-color: transparent;
  width: 95%;
  cursor: pointer;
}
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.video-content {
	text-align: center;
    background-color: #272727;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 300px;
 }

.video-content p, a {
	color: white;
	font-weight: 900;
}

iframe {
    width: 90%; 
    height: 90%;
    clear: both;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
 
 .box {
   	margin-bottom: 0px;
 }

 main .row {
  margin-bottom: 20px;
}

.video-content {
	width: 820px;
	height: 620px;
}


}